:root {
  --blue: #1298db;
  --darkblue: rgba(21, 133, 189, 0.936);
  --seablue: #f2f3ee;
  --lightseablue: #c3dfea;
  --light: #f2f2f2;
}

.custom-navbar {
  background-color: var(--darkblue);
  padding: 20px;
  font:white;
}

.custom-navbar a {
  font-size: 1.5rem;
  color: var(--lightseablue);
}

.custom-navbar a:hover {
  color: var(--light);
}

.container-fluid {
color: white;
margin-left: 40px;
}

.custom-container {
  margin-left: 30px;
  margin-right:10px;
  width: 100%;
}

.hero {
  /* background-color: var(--seablue); */
  /* color: var(--darkblue); */
  color: rgb(244, 77, 77);
  background-color: #c3dfea;
  font-style: italic;
}

#mylogo{
  height:75px;
  width: auto;
  margin-top: 10px;
  margin-left: 5px;
}

#cloud {
  height: 50px;
  width: auto;
  margin-left: 80px;
  margin-right: 0px;
}

#house {
  height: 80px;
  width: auto;
  margin-left: 70px;
  margin-bottom: 20px;
}

li {
  font-style: italic;
  font-size: 15px;
  margin-bottom: 10px;
  color: grey;
}
.custom-sidebar {
  padding-top: 10px;
  width: 275px;
  background-color: #c3dfea;
  margin-right: 10px;
}

#testimonials, #aboutMe {
background-color: #c3dfea;
padding: 40px;
font-style: italic;
}

#contactForm {
  padding: 40px;
}
.custom-btn {
  /* background-color: var(--light); */
  /* color: var(--blue); */
  background-color:rgba(21, 133, 189, 0.936);
  color:rgba(21, 133, 189, 0.936);
}

.custom-btn:hover {
  background-color: var(--darkblue);
  color: var(--light);
}

footer {
  margin-left: 20px;
}